# Virtual environments
/venv/
/env/
/.venv/

# Node
/node_modules/

# Environment
.env

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea


# Python virtual environment
venv/
backend/venv/
__pycache__/
*.pyc
